@use "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: variables.$ft-principal;
}
body {
  padding-top: 80px;
}
:root {
  background-color: variables.$bg-color;
}
