@use "../../abstract/variables";

.pag-modal {
  color: variables.$branco;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.476);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease-in-out;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
  &.exiting {
    opacity: 0;
    visibility: hidden;
  }
  .modal-content {
    transition: all 100ms fade-in;
    border-radius: 28px;
    z-index: 11;
    width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: variables.$cor-principal;
    padding: 30px;
    display: flex;
    gap: 48px;
    transition: all 300ms ease-in-out;
    opacity: 0;
    &.visible {
      opacity: 1;
    }
    &.exiting {
      opacity: 0;
      visibility: hidden;
    }
    .fa-x {
      position: fixed;
      padding: 4px;
      right: 20px;
      top: 20px;
      font-size: 24px;
      cursor: pointer;
    }
    .book-visual {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .book-image {
        background-color: variables.$branco;
        padding: 10px;
        text-align: center;
        border-radius: 8px;
        margin-bottom: 8px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .book-editions {
        margin-bottom: 18px;
        font-size: 24px;
        font-weight: 500;
      }
      .book-link {
        color: variables.$cor-principal;
        font-size: 24px;
        font-weight: 700;
        border-radius: 72px;
        border: none;
        padding: 4px 36px;
        cursor: pointer;
        transition: all 100ms;
        &:active {
          background-color: variables.$cor-secundaria;
          color: variables.$branco;
        }
      }
    }
    .content-book {
      display: flex;
      flex-direction: column;
      width: 100%;
      .book-title {
        margin-bottom: 8px;
      }
      .keywords {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 12px;
        .book-author {
          color: variables.$cinza-escuro;
          font-size: 20px;
        }
      }
      .description {
        width: 100%;

        .description-description {
          margin-bottom: 4px;
        }
        .description-content {
          border-radius: 24px;
          width: 100%;
          word-break: break-word;
          max-height: 600px;
          background-color: variables.$cor-secundaria;
          padding: 8px 18px;
          overflow-y: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 1080px) {
  .pag-modal {
    .modal-content {
      height: 90%;
      overflow: auto;
      flex-direction: column;
      .book-keywords {
        max-width: 50%;
      }
    }
  }
}
