@use "../../abstract/variables";

.loading {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  .spinner {
    border-top: 4px solid variables.$branco;
    border-radius: 70%;
    width: 120px;
    height: 120px;
    animation: rodar 1s linear infinite;
    margin: 2em 0;
  }
  .carregando {
    color: variables.$cor-secundaria;
    font-weight: 600;
  }
}

@keyframes rodar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 0.1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
